.questionBox
{
	background:white;
	overflow-y:auto;
	height:450px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid black;
	margin-bottom: 10px;
}
.alternate-bg
{
    background: #FFFAFA;
}
/*rounded corners  for a scroll bar from:
http://css-tricks.com/body-border-rounded-inside/
*/
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}