<div class='container'>
	<div class='row'>
		<div class='col-md-3 col-md-offset-3'>
			<a href='/app#/sessions' class='btn btn-default btn-lg btn-block'>Sessions</a>
		</div>
		<div class='col-md-3'>
			<a href='/app#/quizzes' class='btn btn-default btn-lg btn-block disabled'>Quizzes</a>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-3 col-md-offset-3'>
			<a href='/app#/polls' class='btn btn-default btn-lg btn-block'>Polls</a>
		</div>
		<div class='col-md-3'>
			<a href='/app#/settings' class='btn btn-default btn-lg btn-block' >Settings</a>
		</div>
	</div>
<div>