<div class='container'>

	<div class='row'>
		<div class='col-md-2'>
			<h1>polls</h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-6'>
 			<div class='input-group'>
  				<input type='text' class='form-control' ng-model="searchFilter">
  				<span class='help-block'>search for poll</span>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-6'>
			<div class='list-group'>
				<a href='/app#/poll/{{poll._id}}' class='list-group-item' ng-repeat="poll in polls | filter:searchFilter">
					<h5 class='list-group-item-heading'>{{poll.question}}</h5>
				</a>

			</div>
 		</div>
        <div class='col-lg-offset-1 col-lg-5 col-sm-5 col-xs-5' ng-show='user.elevated'>
            <button class='btn btn-primary' ng-click='showForm = !showForm' ng-show='!showForm'>Create new poll</button>
            <div class='panel panel-info' ng-show='showForm'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Create new poll</h3>
                </div>
                <div class='panel-body'>
                    <form class=''>
                        <div class='form-group'>
                            <label for='question'>Question: </label>
                            <input type='text' id='question' class='form-control' ng-model='question'/>
                        </div>
                        <div class='form-group'>
                            <label for='answer'>Answers: </label>
                            <div ng-repeat='ans in answers track by $index'>
                                <br/><input type='text' id='answer' ng-model='answers[$index]' class='form-control'/>
                                <button ng-show='$last' ng-click='removeAnswer()' class='btn btn-xs btn-primary'><span class='glyphicon glyphicon-minus'></span></button>
                                <button ng-show='$last' ng-click='addAnswer()' class='btn btn-xs btn-primary'><span class='glyphicon glyphicon-plus'></span></button>
                            </div>
                        </div>
                        <div class='input-group'>
                            <button class='btn btn-danger' ng-click='showForm = !showForm'>Cancel</button>&nbsp;<button ng-click='ok()' class='btn btn-success'>Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
 	</div>
</div>