<div class='row'>
    <div class='col-lg-3 col-lg-offset-1'>
        <h5>Change password</h5>
        <div class='alert alert-warning' ng-show='hasMessage'> {{message}} </div>
        <div class='alert alert-success' ng-show='success'> Your password has been changed</div>
        <form novalidate>
            <div class='form-group'>
                <input type='password' class='form-control' placeholder='Current password' ng-model='password' required/>
            </div>
            <div class='form-group'>
                <input type='password' class='form-control' placeholder='New password' ng-model='newPw' required/>
            </div>
            <div class='form-group'>
                <input type='password' class='form-control' placeholder='Confirm password'  ng-model='confNewPw' required />
            </div>
            <button class='btn btn-primary' ng-click='changePw()' >Confirm</button>
        </form>
    </div>
    <div class='col-lg-6 col-lg-offset-1' ng-show='user.elevated'>
        <div class='input-group'>
            <input type='text' class='form-control' placeholder='Search here...' ng-model="searchFilter">
            <span class='help-block'>search for users</span>
        </div>
        <div class='list-group-item' ng-repeat="user in users | filter:searchFilter" ng-class="{'alternate-bg': $odd}">
           <h4 class='list-group-item-heading'>{{user.name}}</h4>
                <ul class='list-inline'>
                    <li>Username: {{user.username}}</li>
                    <li>Email: {{user.email}}</li>
                    <li ng-show='!user.elevated'><button class='btn btn-primary' ng-click='$parent.elevate(user._id)'>Elevate</button></li>
                </ul>
        </div>
    </div>
</div>