<h4>{{session.name}}</h4>
<div class='row'>
	<div class='col-lg-7 col-sm-11 col-xs-10'>
		<div class='questionBox'>
			<div class='list-group'>
				<div class='list-group-item' ng-repeat='question in questions'>
					<div class='row'>
						<div class='col-md-6 col-xs-6 col-sm-6'>
							<h5>{{question.body}}</h5>
						</div>
						<div class='col-md-offset-5 col-xs-offset-4 col-sm-offset-5 col-sm-1 col-md-1 col-xs-1'>
							{{question.time}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-lg-5 visible-lg'>
		<div ng-show='elevated'>
			<div class='panel-group' id='accordion'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseOne'>Poll</a></h4>
					</div>
					<div id='collapseOne' class='panel-collapse collapse in'>
						<div class='panel-body'>
							<div ng-show='session.poll'>
								<h3>{{poll.question}}</h3>
								<d3-pie-chart values='poll.answers' width='250' height='200'>
								</d3-pie-chart>
							</div>
							<div ng-show='!session.poll'>
								<p>No poll attached.Create One in Options</p>
							</div>
						</div>
					</div>
				</div>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseTwo'>Options</a></h4>
					</div>
					<div id='collapseTwo' class='panel-collapse collapse'>
						<div class='panel-body'>
							Options
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-xs-1 visible-xs'>
		<p>extra small screen</p>
	</div>
	<div class='col-sm-1 visible-sm'>
		<p>small screen</p>
	</div>
</div>
<div class='row'ng-show='!elevated'>
	<div class='col-lg-7'>
		<span class='help-block'>Remaining:{{ charsRemaining() }}</span>
		<div class='input-group'>
			<input type="text" class="form-control" ng-model='questionText' maxlength='140'>
			<span class="input-group-btn">
				<button class="btn btn-primary" ng-click='ask()' type="button">Ask</button>
			</span>
   		 </div>
	</div>
</div>