<div class='row'>
    <div class=' col-lg-offset-3 col-lg-5 col-sm-offset-3 col-sm-5 col-xs-offset-1 col-xs-10'>
        <h3>{{poll.question}}</h3>
    </div>
</div>
<div class='row'>
    <div class=' col-lg-offset-3 col-lg-5 col-sm-offset-3 col-sm-5 col-xs-offset-1 col-xs-10' ng-show='PollAnswered'>
        <select ng-model='graph' class='form-control'>
            <option value='1'>Pie chart</option>
            <option value='2'>Donut chart</option>
            <option value='3'>Bar chart</option>
        </select>
    </div>
    <div class=' col-lg-offset-3 col-lg-5 col-sm-offset-3 col-sm-5 col-xs-offset-1 col-xs-10' ng-show='!PollAnswered'>
            <div  class='radio' ng-repeat='ans in poll.answers'><input type='radio' name='poll' ng-model='response.val' value='{{ans.answer}}'/>{{ans.answer}}</div>
            <button type='button' class='btn btn-primary' ng-click='submit()'>Submit</button>
    </div>
</div>
<div class='row'>
    <div class=' col-lg-offset-4 col-lg-5  col-sm-5 col-xs-10' ng-show='PollAnswered'>
        <d3-bar-chart values='poll.answers' width='250' height='200' ng-show='graph == "3" '>
        </d3-bar-chart>
        <d3-pie-chart values='poll.answers' width='250' height='200' ng-show='graph == "1" '>
        </d3-pie-chart>
        <d3-donut-chart values='poll.answers' width='250' height='200' ng-show='graph == "2" '>
        </d3-donut-chart>
    </div>
</div>