<h4>{{session.name}}</h4>

	<div class='visible-lg'>
      <div class='row'>
        <div class='col-lg-7'>
            <div class='questionBox'>
                <div class='list-group'>
                    <div class='list-group-item' ng-repeat='question in questions'>
                        <div class='row'>
                            <div class='col-md-6 col-xs-6 col-sm-6'>
                                <h5>{{question.body}}</h5>
                            </div>
                            <div class='col-md-offset-5 col-xs-offset-4 col-sm-offset-5 col-sm-1 col-md-1 col-xs-1'>
                                {{question.time}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-5'>
            <div ng-show='elevated'>
                <div class='panel-group' id='accordion'>
                    <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseOne'>Poll</a></h4>
                            </div>
                            <div id='collapseOne' class='panel-collapse collapse in'>
                                <div class='panel-body'>
                                    <div ng-show='session.poll'>
                                        <h3>{{poll.question}}</h3>
                                        <select ng-model='graph' class='form-control'>
                                            <option value='1'>Pie chart</option>
                                            <option value='2'>Donut chart</option>
                                            <option value='3'>Bar chart</option>
                                        </select>
                                        <d3-bar-chart values='poll.answers'  width='250' height='200' useClass='"elevateBar"' ng-show='graph == "3" '>
                                        </d3-bar-chart>
                                        <d3-pie-chart values='poll.answers'  width='250' height='200' ng-show='graph == "1" '>
                                        </d3-pie-chart>
                                        <d3-donut-chart values='poll.answers' width='250' height='200' ng-show='graph == "2" '>
                                        </d3-donut-chart>
                                    </div>
                                    <div ng-show='!session.poll'>
                                        <p>No poll attached.Create One in Options</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseTwo'>Options</a></h4>
                            </div>
                            <div id='collapseTwo' class='panel-collapse collapse'>
                                <div class='panel-body'>
                                    <button class='btn btn-primary' ng-click='openModal()'>Attach a poll</button>
                                    <div class='input-group'>
                                        <label for='livePoll'>Live results:<input type='checkbox' id='livePoll' ng-model='live' ></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class='col-md-5' ng-show='!elevated'>
              <div class='row'>
                  <div class=' col-lg-offset-1 col-lg-5'>
                      <h3>{{poll.question}}</h3>
                  </div>
              </div>
              <div class='row'>
                  <div class=' col-lg-offset-1 col-lg-5' ng-show='PollAnswered'>
                      <select ng-model='graph' class='form-control'>
                          <option value='1'>Pie chart</option>
                          <option value='2'>Donut chart</option>
                          <option value='3'>Bar chart</option>
                      </select>
                  </div>
                  <div class=' col-lg-offset-1 col-lg-5' ng-show='!PollAnswered'>
                      <div  class='radio' ng-repeat='ans in poll.answers'><input type='radio' name='poll' ng-model='response.val' value='{{ans.answer}}'/>{{ans.answer}}</div>
                      <button type='button' class='btn btn-primary' ng-click='submit()'>Submit</button>
                  </div>
              </div>
              <div class='row'>
                  <div class=' col-lg-offset-1 col-lg-5' ng-show='PollAnswered'>
                      <d3-bar-chart values='poll.answers' useClass='"bar"' width='250' height='200' ng-show='graph == "3" '>
                      </d3-bar-chart>
                      <d3-pie-chart values='poll.answers' use='pie' width='250' height='200' ng-show='graph == "1" '>
                      </d3-pie-chart>
                      <d3-donut-chart values='poll.answers'  use='donut' width='250' height='200' ng-show='graph == "2" '>
                      </d3-donut-chart>
                  </div>
              </div>
        </div>
      </div>
        <div class='row'ng-show='!elevated'>
            <div class='col-lg-7'>
                <span class='help-block'>Remaining:{{ charsRemaining() }}</span>
                <div class='input-group'>
                    <input type="text" class="form-control" ng-model='questionText' maxlength='140'>
			<span class="input-group-btn">
				<button class="btn btn-primary" ng-click='ask()' type="button">Ask</button>
			</span>
                </div>
            </div>
        </div>
   </div>
	<div class='col-xs-10 col-sm-10 hidden-lg'>
        <ul class='nav nav-tabs'>
            <li class='active'><a data-toggle='tab' data-target='#questions'>Questions</a></li>
            <li><a data-toggle='tab' data-target='#poll'>Poll</a></li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active' id='questions'>
                <div class='row'>
                    <div class='questionBox'>
                        <div class='list-group'>
                            <div class='list-group-item' ng-repeat='question in questions'>
                                <div class='row'>
                                    <div class='col-md-6 col-xs-6 col-sm-6'>
                                        <h5>{{question.body}}</h5>
                                    </div>
                                    <div class='col-md-offset-5 col-xs-offset-4 col-sm-offset-5 col-sm-1 col-md-1 col-xs-1'>
                                        {{question.time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'ng-show='!elevated'>
                    <div class='col-lg-7'>
                        <span class='help-block'>Remaining:{{ charsRemaining() }}</span>
                        <div class='input-group'>
                            <input type="text" class="form-control" ng-model='questionText' maxlength='140'>
		        	<span class="input-group-btn">
				        <button class="btn btn-primary" ng-click='ask()' type="button">Ask</button>
			        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='tab-pane' id='poll'>
                <div ng-show='elevated'>
                    <div class='panel-group' id='accordion'>
                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseminOne'>Poll</a></h4>
                            </div>
                            <div id='collapseminOne' class='panel-collapse collapse in'>
                                <div class='panel-body'>
                                    <div ng-show='session.poll'>
                                        <h3>{{poll.question}}</h3>
                                        <select ng-model='graph' class='form-control'>
                                            <option value='1'>Pie chart</option>
                                            <option value='2'>Donut chart</option>
                                            <option value='3'>Bar chart</option>
                                        </select>
                                        <d3-bar-chart values='poll.answers'  width='250' height='200' useClass='"elevateBar"' ng-show='graph == "3" '>
                                        </d3-bar-chart>
                                        <d3-pie-chart values='poll.answers'  width='250' height='200' ng-show='graph == "1" '>
                                        </d3-pie-chart>
                                        <d3-donut-chart values='poll.answers' width='250' height='200' ng-show='graph == "2" '>
                                        </d3-donut-chart>
                                    </div>
                                    <div ng-show='!session.poll'>
                                        <p>No poll attached.Create One in Options</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-ttle'><a data-toggle='collapse' data-parent='#accordion' data-target='#collapseminTwo'>Options</a></h4>
                            </div>
                            <div id='collapseminTwo' class='panel-collapse collapse'>
                                <div class='panel-body'>
                                   <div ng-show='!session.poll'>
                                        <button class='btn btn-primary'>Attach a poll</button>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-5' ng-show='!elevated'>
                    <div class='row'>
                        <div class=' col-lg-offset-1 col-lg-5'>
                            <h3>{{poll.question}}</h3>
                        </div>
                    </div>
                    <div class='row'>
                        <div class=' col-lg-offset-1 col-lg-5' ng-show='PollAnswered'>
                            <select ng-model='graph' class='form-control'>
                                <option value='1'>Pie chart</option>
                                <option value='2'>Donut chart</option>
                                <option value='3'>Bar chart</option>
                            </select>
                        </div>
                        <div class='col-sm-5 col-xs-5' ng-show='!PollAnswered'>
                            <div  class='radio' ng-repeat='ans in poll.answers'><input type='radio' name='poll' ng-model='response.val' value='{{ans.answer}}'/>{{ans.answer}}</div>
                            <button type='button' class='btn btn-primary' ng-click='submit()'>Submit</button>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-1 col-xs-1' ng-show='PollAnswered'>
                            <d3-bar-chart values='poll.answers' useClass='"bar"' width='250' height='200' ng-show='graph == "3" '>
                            </d3-bar-chart>
                            <d3-pie-chart values='poll.answers' use='pie' width='250' height='200' ng-show='graph == "1" '>
                            </d3-pie-chart>
                            <d3-donut-chart values='poll.answers'  use='donut' width='250' height='200' ng-show='graph == "2" '>
                            </d3-donut-chart>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
	</div>
