<% layout('boilerplate') -%>
<div class='container'>
		<div class='row' style='padding-top:40px'>
			<div class="col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 col-xs-5 col-xs-offset-4" ng-controller='loginCtrl'>
				<h3>Login</h3>
				<form name='loginForm'>
					<div class='alert alert-warning' ng-show='hasMessage'> {{message}} </div>
						<input class='form-control' type='text' ng-model='username'placeholder='username'/>
						<input class='form-control' type='password' ng-model='password' placeholder='password'/><br/>
						<button id='submit' class='btn btn-success btn-block btn-lg'   ng-disabled='!loginForm.$dirty' ng-click='login()'>
								login <i class="fa fa-exclamation"></i>
						</button>
						<button  class='btn btn-info btn-block' ng-click='open()' >Sign up</button>
				</form>
			</div>
		</div>
	</div>
</div>